@media  (max-width: 768px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 375px;}
.style0 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1noujd.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 667px;
flex-direction: column;}
.style4 {
background-color: #ffffff;
border-top-left-radius: 46px;
border-top-right-radius: 46px;
border-bottom-left-radius: 46px;
border-bottom-right-radius: 46px;
position: relative;
display: flex;
margin-top: 0px;
width: 282px;
height: 42px;
flex-direction: column;}
.style6 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1nov12.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
display: flex;
margin-left: 22px;
margin-top: 10px;
width: 15px;
height: 19px;
align-items: stretch;
flex-direction: column;
flex-shrink: 0;}
.style9 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1nov9i.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
height: 16px;}
.style8 {
color: #554669;
font-family: 'arial',serif;
font-size: 0.625em;
position: relative;
margin-left: 99px;
margin-top: 9px;
height: 10px;
flex-shrink: 0;}
.style5 {
color: #554669;
font-family: 'arial',serif;
font-size: 0.625em;
margin-left: 99px;
margin-top: 1px;
height: 10px;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1novx7.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
display: flex;
margin-top: 122px;
width: 100%;
height: 667px;
align-self: stretch;
flex-direction: column;}
.artworkloginpagecontainer0container6row0 {
display: flex;
margin-top: 0px;
width: 317px;
height: 111px;}
.style10 {
background-color: #ffffff;
border-top-left-radius: 56px 57px;
border-top-right-radius: 56px 57px;
border-bottom-left-radius: 56px 57px;
border-bottom-right-radius: 56px 57px;
margin-left: 0px;
width: 108px;
height: 100%;
align-self: stretch;}
.style12 {
color: #67e1ff;
font-family: 'arial',serif;
font-size: 1.3125em;
margin-left: 0px;
margin-top: 72px;
height: 21px;}
.style2 {
background-color: #4bc2ff;
box-shadow: 1px 4px 4px 1px rgba(0,0,0,0.25098039215686274);
display: flex;
margin-top: 204px;
width: 282px;
height: 56px;
align-items: center;
flex-direction: column;
justify-content: center;}
.style3 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 0.875em;
height: 14px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 375px;}
.artworkmenurow0 {
display: flex;
margin-left: 0px;
margin-top: 134px;
width: 406px;
height: 667px;}
.style22 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1nox5r.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
margin-top: 109px;
width: 17px;
height: 17px;}
.artworkmenurow0column0 {
display: flex;
margin-left: 0px;
margin-top: 109px;
width: 17px;
height: 234px;
align-items: stretch;
flex-direction: column;}
.style21 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1nowzr.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 58px;
height: 10px;}
.style18 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1nowq5.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 40px;
height: 17px;}
.style16 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1nowio.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 37px;
height: 17px;}
.style14 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1nowbq.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 38px;
height: 17px;}
.style27 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1noyct.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
display: flex;
margin-left: 14px;
width: 375px;
height: 100%;
align-items: stretch;
align-self: stretch;
flex-direction: column;}
.style24 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1noxn1.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
display: flex;
height: 438px;
flex-direction: column;}
.artworkmenurow0container8container6row0 {
display: flex;
margin-left: 20px;
margin-top: 118px;
width: 125px;
height: 71px;
align-items: center;}
.style26 {
background-color: #ffffff;
border-top-left-radius: 37px;
border-top-right-radius: 37px;
border-bottom-left-radius: 37px;
border-bottom-right-radius: 37px;
margin-left: 0px;
width: 70px;
height: 100%;}
.style25 {
color: #fefeff;
font-family: 'arial',serif;
font-size: 1.125em;
margin-left: 12px;
height: 18px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 375px;}
.style28 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 667px;
flex-direction: column;}
.artworkprofilecontainer0container1 {
width: 0px;
height: 0px;}
}@media  (min-width: 768px)  and  (max-width: 920px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 768px;}
.style0 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1noujd.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 1366px;
flex-direction: column;}
.style4 {
background-color: #ffffff;
border-top-left-radius: 46px;
border-top-right-radius: 46px;
border-bottom-left-radius: 46px;
border-bottom-right-radius: 46px;
position: relative;
display: flex;
margin-top: 0px;
width: 578px;
height: 86px;
flex-direction: column;}
.style6 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1nov12.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
display: flex;
margin-left: 45px;
margin-top: 20px;
width: 31px;
height: 39px;
align-items: stretch;
flex-direction: column;
flex-shrink: 0;}
.style9 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1nov9i.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
height: 33px;}
.style8 {
color: #554669;
font-family: 'arial',serif;
font-size: 1.28em;
position: relative;
margin-left: 203px;
margin-top: 18px;
height: 20px;
flex-shrink: 0;}
.style5 {
color: #554669;
font-family: 'arial',serif;
font-size: 1.28em;
margin-left: 203px;
margin-top: 2px;
height: 20px;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1novx7.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
display: flex;
margin-top: 250px;
width: 100%;
height: 1366px;
align-self: stretch;
flex-direction: column;}
.artworkloginpagecontainer0container6row0 {
display: flex;
margin-top: 0px;
width: 649px;
height: 227px;}
.style10 {
background-color: #ffffff;
border-top-left-radius: 56px 57px;
border-top-right-radius: 56px 57px;
border-bottom-left-radius: 56px 57px;
border-bottom-right-radius: 56px 57px;
margin-left: 0px;
width: 221px;
height: 100%;
align-self: stretch;}
.style12 {
color: #67e1ff;
font-family: 'arial',serif;
font-size: 2.688em;
margin-left: 0px;
margin-top: 147px;
height: 43px;}
.style2 {
background-color: #4bc2ff;
box-shadow: 1px 4px 4px 1px rgba(0,0,0,0.25098039215686274);
display: flex;
margin-top: 418px;
width: 578px;
height: 115px;
align-items: center;
flex-direction: column;
justify-content: center;}
.style3 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 1.792em;
height: 29px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 768px;}
.artworkmenurow0 {
display: flex;
margin-left: 0px;
margin-top: 274px;
width: 831px;
height: 1366px;}
.style22 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1nox5r.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
margin-top: 223px;
width: 35px;
height: 35px;}
.artworkmenurow0column0 {
display: flex;
margin-left: 0px;
margin-top: 223px;
width: 35px;
height: 479px;
align-items: stretch;
flex-direction: column;}
.style21 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1nowzr.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 119px;
height: 20px;}
.style18 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1nowq5.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 82px;
height: 35px;}
.style16 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1nowio.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 76px;
height: 35px;}
.style14 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1nowbq.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 78px;
height: 35px;}
.style27 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1noyct.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
display: flex;
margin-left: 29px;
width: 768px;
height: 100%;
align-items: stretch;
align-self: stretch;
flex-direction: column;}
.style24 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1noxn1.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
display: flex;
height: 897px;
flex-direction: column;}
.artworkmenurow0container8container6row0 {
display: flex;
margin-left: 41px;
margin-top: 242px;
width: 256px;
height: 145px;
align-items: center;}
.style26 {
background-color: #ffffff;
border-top-left-radius: 37px;
border-top-right-radius: 37px;
border-bottom-left-radius: 37px;
border-bottom-right-radius: 37px;
margin-left: 0px;
width: 143px;
height: 100%;}
.style25 {
color: #fefeff;
font-family: 'arial',serif;
font-size: 2.3040000000000003em;
margin-left: 25px;
height: 37px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 768px;}
.style28 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 1366px;
flex-direction: column;}
.artworkprofilecontainer0container1 {
width: 0px;
height: 0px;}
}@media  (min-width: 920px)  and  (max-width: 1200px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 920px;}
.style0 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1noujd.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 1636px;
flex-direction: column;}
.style4 {
background-color: #ffffff;
border-top-left-radius: 46px;
border-top-right-radius: 46px;
border-bottom-left-radius: 46px;
border-bottom-right-radius: 46px;
position: relative;
display: flex;
margin-top: 0px;
width: 692px;
height: 103px;
flex-direction: column;}
.style6 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1nov12.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
display: flex;
margin-left: 54px;
margin-top: 25px;
width: 37px;
height: 47px;
align-items: stretch;
flex-direction: column;
flex-shrink: 0;}
.style9 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1nov9i.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
height: 39px;}
.style8 {
color: #554669;
font-family: 'arial',serif;
font-size: 1.5333333333333332em;
position: relative;
margin-left: 243px;
margin-top: 22px;
height: 25px;
flex-shrink: 0;}
.style5 {
color: #554669;
font-family: 'arial',serif;
font-size: 1.5333333333333332em;
margin-left: 243px;
margin-top: 2px;
height: 25px;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1novx7.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
display: flex;
margin-top: 299px;
width: 100%;
height: 1636px;
align-self: stretch;
flex-direction: column;}
.artworkloginpagecontainer0container6row0 {
display: flex;
margin-top: 0px;
width: 778px;
height: 272px;}
.style10 {
background-color: #ffffff;
border-top-left-radius: 56px 57px;
border-top-right-radius: 56px 57px;
border-bottom-left-radius: 56px 57px;
border-bottom-right-radius: 56px 57px;
margin-left: 0px;
width: 265px;
height: 100%;
align-self: stretch;}
.style12 {
color: #67e1ff;
font-family: 'arial',serif;
font-size: 3.2199999999999998em;
margin-left: 0px;
margin-top: 177px;
height: 52px;}
.style2 {
background-color: #4bc2ff;
box-shadow: 1px 4px 4px 1px rgba(0,0,0,0.25098039215686274);
display: flex;
margin-top: 500px;
width: 692px;
height: 137px;
align-items: center;
flex-direction: column;
justify-content: center;}
.style3 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 2.1466666666666665em;
height: 34px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 920px;}
.artworkmenurow0 {
display: flex;
margin-left: 0px;
margin-top: 329px;
width: 996px;
height: 1636px;}
.style22 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1nox5r.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
margin-top: 267px;
width: 42px;
height: 42px;}
.artworkmenurow0column0 {
display: flex;
margin-left: 0px;
margin-top: 267px;
width: 42px;
height: 574px;
align-items: stretch;
flex-direction: column;}
.style21 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1nowzr.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 142px;
height: 25px;}
.style18 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1nowq5.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 98px;
height: 42px;}
.style16 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1nowio.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 91px;
height: 42px;}
.style14 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1nowbq.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 93px;
height: 42px;}
.style27 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1noyct.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
display: flex;
margin-left: 34px;
width: 920px;
height: 100%;
align-items: stretch;
align-self: stretch;
flex-direction: column;}
.style24 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1noxn1.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
display: flex;
height: 1075px;
flex-direction: column;}
.artworkmenurow0container8container6row0 {
display: flex;
margin-left: 49px;
margin-top: 289px;
width: 307px;
height: 174px;
align-items: center;}
.style26 {
background-color: #ffffff;
border-top-left-radius: 37px;
border-top-right-radius: 37px;
border-bottom-left-radius: 37px;
border-bottom-right-radius: 37px;
margin-left: 0px;
width: 172px;
height: 100%;}
.style25 {
color: #fefeff;
font-family: 'arial',serif;
font-size: 2.76em;
margin-left: 29px;
height: 44px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 920px;}
.style28 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 1636px;
flex-direction: column;}
.artworkprofilecontainer0container1 {
width: 0px;
height: 0px;}
}@media  (min-width: 1200px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 1200px;}
.style0 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1noujd.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 2134px;
flex-direction: column;}
.style4 {
background-color: #ffffff;
border-top-left-radius: 46px;
border-top-right-radius: 46px;
border-bottom-left-radius: 46px;
border-bottom-right-radius: 46px;
position: relative;
display: flex;
margin-top: 0px;
width: 902px;
height: 134px;
flex-direction: column;}
.style6 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1nov12.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
display: flex;
margin-left: 70px;
margin-top: 32px;
width: 48px;
height: 61px;
align-items: stretch;
flex-direction: column;
flex-shrink: 0;}
.style9 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1nov9i.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
height: 51px;}
.style8 {
color: #554669;
font-family: 'arial',serif;
font-size: 2em;
position: relative;
margin-left: 317px;
margin-top: 29px;
height: 32px;
flex-shrink: 0;}
.style5 {
color: #554669;
font-family: 'arial',serif;
font-size: 2em;
margin-left: 317px;
margin-top: 3px;
height: 32px;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1novx7.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
display: flex;
margin-top: 390px;
width: 100%;
height: 2134px;
align-self: stretch;
flex-direction: column;}
.artworkloginpagecontainer0container6row0 {
display: flex;
margin-top: 0px;
width: 1014px;
height: 355px;}
.style10 {
background-color: #ffffff;
border-top-left-radius: 56px 57px;
border-top-right-radius: 56px 57px;
border-bottom-left-radius: 56px 57px;
border-bottom-right-radius: 56px 57px;
margin-left: 0px;
width: 346px;
height: 100%;
align-self: stretch;}
.style12 {
color: #67e1ff;
font-family: 'arial',serif;
font-size: 4.2em;
margin-left: 0px;
margin-top: 230px;
height: 67px;}
.style2 {
background-color: #4bc2ff;
box-shadow: 1px 4px 4px 1px rgba(0,0,0,0.25098039215686274);
display: flex;
margin-top: 653px;
width: 902px;
height: 179px;
align-items: center;
flex-direction: column;
justify-content: center;}
.style3 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 2.8000000000000003em;
height: 45px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 1200px;}
.artworkmenurow0 {
display: flex;
margin-left: 0px;
margin-top: 429px;
width: 1299px;
height: 2134px;}
.style22 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1nox5r.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
margin-top: 349px;
width: 54px;
height: 54px;}
.artworkmenurow0column0 {
display: flex;
margin-left: 0px;
margin-top: 349px;
width: 54px;
height: 749px;
align-items: stretch;
flex-direction: column;}
.style21 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1nowzr.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 186px;
height: 32px;}
.style18 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1nowq5.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 128px;
height: 54px;}
.style16 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1nowio.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 118px;
height: 54px;}
.style14 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1nowbq.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 122px;
height: 54px;}
.style27 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1noyct.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
display: flex;
margin-left: 45px;
width: 1200px;
height: 100%;
align-items: stretch;
align-self: stretch;
flex-direction: column;}
.style24 {
background-image: url('https://designresources.assets.yotako.io/80syc5lwajn1noxn1.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
display: flex;
height: 1402px;
flex-direction: column;}
.artworkmenurow0container8container6row0 {
display: flex;
margin-left: 64px;
margin-top: 378px;
width: 400px;
height: 227px;
align-items: center;}
.style26 {
background-color: #ffffff;
border-top-left-radius: 37px;
border-top-right-radius: 37px;
border-bottom-left-radius: 37px;
border-bottom-right-radius: 37px;
margin-left: 0px;
width: 224px;
height: 100%;}
.style25 {
color: #fefeff;
font-family: 'arial',serif;
font-size: 3.6em;
margin-left: 38px;
height: 58px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 1200px;}
.style28 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 2134px;
flex-direction: column;}
.artworkprofilecontainer0container1 {
width: 0px;
height: 0px;}
}